.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    box-shadow: 2px 2px 4px #888888;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    margin-top: 4rem;
}

.headingBox {
    margin: 0 auto;
}

.inputBox input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 2.5rem;
}

.inputBox label {
    font-weight: bold;
    font-size: large;
}


.buttonBox button {
    width: 100%;
    background-color: #036;
    color: white;
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1.5rem;
}