.train-card{
    font-size: x-large;
    margin: 10px 0;
}

.train-card p {
    margin: 10px 0;
    font-size: large;
}

.train-card button{
    width: 100%;
    background-color: #036;
    color: white;
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

.train-card button:hover{
    cursor:pointer;
}